POSTGRES_DB=traffic_gt
POSTGRES_USER=traffic_user
POSTGRES_PASSWORD=traffic_pass

POSTGRES_HOST_PORT=55432
BACKEND_HOST_PORT=8000
FRONTEND_HOST_PORT=4200
CADDY_HTTP_PORT=80
CADDY_HTTPS_PORT=443
SITE_HOST=localhost
CADDYFILE_PATH=./deploy/Caddyfile.local

API_ALLOW_MOCK=true
TOMTOM_ENABLED=true
TOMTOM_API_KEY=replace_me
TOMTOM_ZOOM=10
TOMTOM_TIMEOUT_SEC=12
TOMTOM_CACHE_TTL_SEC=60
TOMTOM_PROBE_MAX_POINTS=120
WORKER_NAME=tomtom_worker
WORKER_INTERVAL_SEC=60
