.directory
.venv/
backend/.venv/
backend/.env
frontend/.env
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

backend/outputs/videos/*
backend/outputs/logs/*
backend/outputs/metrics/*
backend/outputs/csv/*
!backend/outputs/csv/.gitkeep

backend/models/pretrained/*
backend/models/trained/*
!backend/models/trained/.gitkeep

backend/data/raw/videos/*
backend/data/raw/images/*
backend/data/processed/*
backend/data/external/*
